.bookings_main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 87vh;
  width: 100vw;
  margin-top: 13vh;

}

.vendor_form{
  width: 20rem;
  height: 20rem;
  background-color: rgb(121, 196, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  border: 1px green solid;
  border-radius: 50%;
  letter-spacing: 5px;
  transition: all .3s ease;
  flex-direction: row;
}
.book_stall{
  width: 20rem;
  height: 20rem;
  background-color: rgb(121, 196, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  border: 1px green solid;
  border-radius: 50%;
  letter-spacing: 5px;
  transition: all .3s ease;
  flex-direction: row;

}

.vendor_form:hover{
  transform: translateY(-10px) scale(1.1);
}

.book_stall:hover{
  transform: translateY(-10px) scale(1.1);
}