.main_stall{
    width: 100vw;
    height: 87vh;
    margin-top: 13vh;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stall_content{
    width: 70vw;
    height: 60vh;
    border: 1px black solid;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.items_location{
  margin: 1rem auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    width: 10rem;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  .drop_items{
      padding: .3rem;
      text-align: center;
      cursor: pointer;
  }

  .drop_items:hover{
    background-color: rgb(168, 164, 164);
  }

 
