@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: rgb(244, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 10;
  font-size: 20px;
}

.movie-container {
  margin: 50px 0;
}

.movie-container select {
  background-color: rgb(204, 145, 8);
  border: 10;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 5px solid rgb(153, 7, 211);
    
}

.container {
  perspective: 2000px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.seat {
  background-color: #444451;
  height: 30px;
  width: 35px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 60px;
}
.seat:nth-of-type(4) {
    margin-right: 60px;
  }

.seat:nth-last-of-type(2) {
  margin-left: 60px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(31, 185, 4, 0.1);
  padding: 20px 40px;
  border-radius: 20px;
  color: rgb(238, 231, 231);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border: 10px solid rgb(59, 104, 239)
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
}

.showcase li small {
  margin-left: px;
  margin: 0 7px;
}

.row {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
  justify-content: space-between;
  font-size: 20px;
}

p.text span {
  color: #6feaf6;
}