/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .drop_item{
      padding: 1rem;
  }

  .drop_item:hover{
      cursor: pointer;
      background-color: rgb(211, 202, 202);
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow-y: auto;
    }

    .admin{
        margin-top: 13vh;
        height: 87vh;
        min-width: 100vw;
        display: flex;
    }

    .farmers_drop_data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-left: 1px black solid;
    }

    .admin_data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
    }

    .farmer_market{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin:1rem;
        font-size: 1rem;
    }

.vendors_mainfeed{
    font-size: 1.5rem;
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.vendors_feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 80vh;
    padding: 1rem;

}


.vendor_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 20vh;
    margin: 1rem;
    padding: 2rem;
}


.admin_main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 87vh;
    width: 100vw;
    margin-top: 13vh;

}

.stalls{
    width: 20rem;
    height: 20rem;
    background-color: rgb(121, 196, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    border: 1px green solid;
    border-radius: 50%;
    letter-spacing: 5px;
    transition: all .3s ease;
}

.vendorsdata{
    width: 20rem;
    height: 20rem;
    background-color: rgb(121, 196, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    border: 1px green solid;
    border-radius: 50%;
    letter-spacing: 5px;
    transition: all .3s ease;
}


.overalldata{
    width: 20rem;
    height: 20rem;
    background-color: rgb(121, 196, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    border: 1px green solid;
    border-radius: 50%;
    letter-spacing: 5px;
    transition: all .3s ease;
}

.stalls:hover{
    transform: translateY(-10px) scale(1.1);
}
.vendorsdata:hover{
    transform: translateY(-10px) scale(1.1);
}
.overalldata:hover{
    transform: translateY(-10px) scale(1.1);
}


@media screen and (max-width:600px) {
    .admin{
        flex-direction: column;
    }

    .admin_data{
        font-size: 1rem;
    }

    .admin_main{
        flex-direction: column;
        font-size: 1rem;
    }
    .overalldata{
        width: 10rem;
        height: 10rem;
        text-align: center;
    }
    .vendorsdata{
        width: 10rem;
        height: 10rem;
        text-align: center;
    }
    .stalls{
        width: 10rem;
        height: 10rem;
        text-align: center;
    }
}