@use '../../scss/abstracts/' as *;

.summary-box {
    @include flex(stretch, flex-start);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1rem;

    &__chart {
        width: 5rem;

        &__value {
            font-weight: 700;
        }
    }

    &__title{
        font-size: 1rem;
    }

    &__subtitle{
        font-size: 1rem;
    }

    &__info {
        width: 13rem;
        @include flex(flex-start, space-between);
        flex-direction: column;
        

        &__title {
            font-size: $fontSizeMedium;
            font-weight: 700;
            line-height: 1.2;

            span {
                font-size: 13px;
                font-weight: 400;
            }
        }

        &__value {
            font-weight: 700;
            font-size: 1rem;
            margin-top: .5rem;
            color: $black;
        }
    }
}

.summary-box-special {
    @include flex(center, space-between);
    flex-direction: column;
    height: 100%;

    &__title {
        font-weight: 700;
        font-size: $fontSizeMedium;
    }

    &__value {
        font-size: $fontSizeLarge;
        font-weight: 700;
    }
}

